@import "../../styles/Constants.module.scss";

.lastWorks {
  margin: 0 0 250px 0;
  display: flex;
  flex-direction: column;
  z-index: 15;
  position: relative;
  width: 100%;
  gap: 24px;

  .titleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin: 0;
      font-family: "Gilroy", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: $primary-color-80;
    }

    .lastWorksLink {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;

      p {
        margin: 0;
        padding: 0;
        font-family: "SFProText", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $primary-color-80;
      }
    }
  }

  .cardList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
    margin: 0;
    overflow-x: auto;
  }

  &::after {
    content: "";
    top: 0;
    right: -1px;
    position: absolute;
    height: 100%;
    width: 100px;
    background: linear-gradient(90deg, rgba(20, 20, 21, 0) 0%, #141415 100%);
    pointer-events: none;
    display: none;

    @media (max-width: $breakpoint-laptop) {
      display: inherit;
    }
  }
}
