@import "../../../styles/Constants.module.scss";

.form {
  position: relative;
  width: 200px;
  height: 40px;

  .searchField {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.5px solid $primary-color-40;
    border-radius: 6px;

    outline: none;
    padding: 4px 4px 4px 12px;
    box-sizing: border-box;
    background: none;
    color: $primary-color-80;

    font-family: "SFProText", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: 0.1s all ease-in-out;

    &:hover {
      border-color: $primary-color-50;
      transition: 0.1s all ease-in-out;
    }

    &:focus {
      border-color: $primary-color-80;
      transition: 0.1s all ease-in-out;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $primary-color-80;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2px;
    color: $primary-color-40;

    font-family: "SFProText", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: $bg-color;
  }

  .button {
    position: absolute;
    min-width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: $primary-color-20;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s all ease-in-out;

    &:hover {
      filter: brightness(1.2);
      transition: 0.1s all ease-in-out;
    }
  }

  .autocompleteList {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(calc(100% + 8px));
    width: 100%;
    background: rgba(38, 38, 38, 0.85);
    backdrop-filter: blur(18px);
    border-radius: 6px;
    margin: 0;
    padding: 0 6px 0 11px;
    box-sizing: border-box;
    list-style: none;
    transition: 0.1s all ease-in-out;
    z-index: 1;

    li {
      cursor: pointer;
      margin: 6px 0;

      a {
        font-family: "SFProText", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $primary-color-40;
        pointer-events: none;
        transition: 0.1s all ease-in-out;

        &:focus {
          outline: none;
          color: $primary-color-60;
          transition: 0.1s all ease-in-out;
          text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
        }

        &:hover {
          color: $primary-color-60;
          transition: 0.1s all ease-in-out;
          text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
        }
      }

      // &:first-child {
      //   margin: 6px 0 2px 0;
      // }

      // &:last-child {
      //   margin: 2px 0 6px 0;
      // }
    }
  }
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/

.searchField:focus ~ .label,
.searchField:not(:placeholder-shown).searchField:not(:focus) ~ .label {
  top: 0;
  transform: translateY(-50%);
  font-size: 10px;
  left: 6px;
  color: $primary-color-80;
  transition: 0.1s all ease-in-out;
}
