@import "../../styles/Constants.module.scss";

.heroBlock {
  display: flex;
  flex-direction: column;
  margin: 100px 0 200px 0;
  position: relative;
  z-index: 2;

  .title {
    color: $primary-color-80;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 90%;
    margin: 0;
    white-space: nowrap;

    @media (max-width: $breakpoint-laptop) {
      font-size: 64px;
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: 52px;
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 36px;
    }
  }

  .subtitle {
    color: $primary-color-40;
    font-family: "SFProText";
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    white-space: nowrap;
    margin: 20px 0 0 0;

    @media (max-width: $breakpoint-tablet) {
      font-size: 14px;
    }
  }

  .btnWrapper {
    margin: 64px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .skills {
      color: $primary-color-40;
      font-family: "SFProText";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      margin: 0;

      @media (max-width: $breakpoint-mobile) {
        font-size: 14px;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    margin: 50px 0 200px 0;
  }
}
