@import "../../styles/Constants.module.scss";

.footer {
  display: flex;
  flex-direction: column;
  color: $primary-color-40;
  font-family: "SFProText";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  gap: 24px;
  margin: 0 0 40px 0;

  a {
    color: $primary-color-40;
    cursor: pointer;
  }

  .line {
    width: 100%;
    height: 0.5px;
    box-shadow: 0px 0.5px 0px $primary-color-20;
  }

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;

    .logo {
      min-width: 30px;
      height: 30px;
      cursor: pointer;
      background-image: url("/assets/LogoDark.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .linkList {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 36px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .createdBy {

      .authorLink {
        color: $primary-color-60;
      }
    }
  }
}
