@import "../../../styles/Constants.module.scss";

.textFieldWrapper {
  position: relative;
  width: 200px;
  height: 40px;

  .textField {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.5px solid $primary-color-20;
    border-radius: 6px;

    outline: none;
    padding: 4px 4px 4px 12px;
    box-sizing: border-box;
    background: none;
    color: $primary-color-80;

    font-family: "SFProText", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: 0.1s all ease-in-out;

    &:hover {
      border-color: $primary-color-50;
      transition: 0.1s all ease-in-out;
    }

    &:focus {
      border-color: $primary-color-80;
      transition: 0.1s all ease-in-out;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $primary-color-80;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .visibilityToggle {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 2px;
    color: $primary-color-40;
    pointer-events: none;

    font-family: "SFProText", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: $primary-color-5;
  }
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/

.textField:focus ~ .label,
.textField:not(:placeholder-shown).textField:not(:focus) ~ .label {
  top: 0;
  transform: translateY(-50%);
  font-size: 10px;
  left: 6px;
  color: $primary-color-80;
  transition: 0.1s all ease-in-out;
}
