$primary-color-5: hsl(212, 4%, 5%);
$primary-color-10: hsl(212, 4%, 10%);
$primary-color-20: hsl(212, 4%, 20%);
$primary-color-30: hsl(212, 4%, 30%);
$primary-color-40: hsl(212, 4%, 40%);
$primary-color-50: hsl(212, 4%, 50%);
$primary-color-60: hsl(212, 4%, 60%);
$primary-color-70: hsl(212, 4%, 70%);
$primary-color-80: hsl(212, 4%, 80%);
$primary-color-90: hsl(212, 4%, 90%);
$primary-color-100: hsl(212, 4%, 100%);

$bg-color: #141415;
$success-color: #59804d;
$danger-color: #b95546;
$warning-color: #c7b86b;

$breakpoint-extra-large: 1400px;
$breakpoint-large: 1200px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 760px;
$breakpoint-mobile: 480px;
