@import "./Constants.module.scss";

.cv {
  margin: 150px 0 0 0;
  display: flex;
  flex-direction: column;

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    .imageWrapper {
      position: relative;
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        position: absolute;
        min-width: 147px;
        height: 147px;
        background-image: url("/assets/svg/Circle.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @media (max-width: $breakpoint-mobile) {
          width: 98px;
          height: 98px;
        }
      }

      span {
        z-index: 1;
      }

      .image {
        border: 1px solid $primary-color-20 !important;
        border-radius: 50%;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
      }

      @media (max-width: $breakpoint-mobile) {
        min-width: 88px;
        max-width: 88px;
        height: 88px;
      }
    }

    .infoBlock {
      display: flex;
      flex-direction: column;

      .fullname {
        margin: 0;
        font-family: "Gilroy", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: $primary-color-80;

        @media (max-width: $breakpoint-mobile) {
          font-size: 20px;
          line-height: 25px;
        }
      }

      .profession {
        margin: 8px 0 0 0;
        font-family: "SFProText", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $primary-color-60;
      }

      .linkList {
        list-style: none;
        padding: 0;
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 8px;
        column-gap: 16px;
        flex-wrap: wrap;

        .linkItem {
          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            font-family: "SFProText", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 11px;
            color: $primary-color-50;
            transition: 0.1s all ease-in-out;

            p {
              margin: 0;
            }
          }

          &:hover {
            a {
              color: $primary-color-70;
              transition: 0.1s all ease-in-out;
            }

            img {
              filter: brightness(1.53);
              transition: 0.1s all ease-in-out;
            }
          }
        }

        @media (max-width: $breakpoint-mobile) {
          column-gap: 8px;
        }
      }
    }
  }

  .aboutText {
    color: $primary-color-70;
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }

  .education {
    display: flex;
    flex-direction: column;
    background-color: $primary-color-5;
    border: 1px solid $primary-color-20;
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
    gap: 20px;

    .educationItem {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .educationHead {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .educationPlace {
          margin: 0;
          color: $primary-color-80;
          font-family: "Gilroy", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: -0.02em;

          @media (max-width: $breakpoint-mobile) {
            font-size: 18px;
            line-height: 22px;
          }
        }
        .educationPeriod {
          color: $primary-color-50;
          font-family: "SFProText", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.02em;
        }
      }

      .educationDescription {
        margin: 0;
        color: $primary-color-60;
        font-family: "SFProText", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
      }
    }

    @media (max-width: $breakpoint-mobile) {
      padding: 12px;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .skillsBlockRevert {
      display: flex;
      flex-direction: row;
      gap: 24px;

      @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 50px 0 0 0;
  }
}
