.bgAnim {
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 325px;
  right: -1193px;
  z-index: 1;
  transition: all 0.2s ease-in-out;

  @media (max-width: 1930px) {
    right: -1300px;
  }
  @media (max-width: 1770px) {
    right: -1380px;
  }
  @media (max-width: 1630px) {
    right: -1460px;
  }
  @media (max-width: 1420px) {
    right: -1580px;
  }
  @media (max-width: 1190px) {
    right: -1660px;
  }
  @media (max-width: 880px) {
    right: -1760px;
  }
  @media (max-width: 650px) {
    right: -1580px;
    top: 170px;
    transform: scale(0.8);
  }
  @media (max-width: 500px) {
    right: -1414px;
    top: -8px;
    transform: scale(0.6);
  }

  .saturnWrapper {
    position: absolute;
    &:nth-child(1) {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background: #fbfbfb;
        position: absolute;
        z-index: 10;

        offset-rotate: 0deg;
        offset-anchor: left bottom;

        offset-path: path(
          "M1056.48 766.81C1010.62 835.81 911.565 860.205 788.24 843.638C664.952 827.076 517.59 769.589 375.393 675.083C233.197 580.576 123.132 466.971 60.1208 359.715C-2.90932 252.427 -18.7759 151.651 27.0822 82.6518C72.9404 13.6527 171.998 -10.7424 295.323 5.82472C418.611 22.3868 565.974 79.8733 708.17 174.38C850.366 268.886 960.432 382.491 1023.44 489.747C1086.47 597.035 1102.34 697.811 1056.48 766.81Z"
        );
        // offset-distance: 70%;
        animation: anim 10s linear infinite;
        left: -2px;
        bottom: -22px;
        border-radius: 50%;
        border: 2px solid #313131;
      }

      transform: translate(0, 0);

      .circle {
        opacity: 1;
      }
      .dot {
        animation: anim 10s linear infinite;
        left: 54px;
        // offset-distance: 70%;
      }
    }

    &:nth-child(2) {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background: #fbfbfb;
        position: absolute;
        z-index: 10;

        offset-rotate: 0deg;
        offset-anchor: left bottom;

        offset-path: path(
          "M1056.48 766.81C1010.62 835.81 911.565 860.205 788.24 843.638C664.952 827.076 517.59 769.589 375.393 675.083C233.197 580.576 123.132 466.971 60.1208 359.715C-2.90932 252.427 -18.7759 151.651 27.0822 82.6518C72.9404 13.6527 171.998 -10.7424 295.323 5.82472C418.611 22.3868 565.974 79.8733 708.17 174.38C850.366 268.886 960.432 382.491 1023.44 489.747C1086.47 597.035 1102.34 697.811 1056.48 766.81Z"
        );
        // offset-distance: 50%;
        animation: anim 12s linear infinite;
        animation-delay: 0.2s;
        left: -2px;
        bottom: -22px;
        border-radius: 50%;
        border: 2px solid #313131;
      }
      transform: translate(-50px, -50px);
      position: relative;

      .circle {
        opacity: 0.6;
      }
      .dot {
        animation: anim 12s linear infinite;
        animation-delay: 0.2s;
        // offset-distance: 50%;
      }
    }
    &:nth-child(3) {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background: #fbfbfb;
        position: absolute;
        z-index: 10;

        offset-rotate: 0deg;
        offset-anchor: left bottom;

        offset-path: path(
          "M1056.48 766.81C1010.62 835.81 911.565 860.205 788.24 843.638C664.952 827.076 517.59 769.589 375.393 675.083C233.197 580.576 123.132 466.971 60.1208 359.715C-2.90932 252.427 -18.7759 151.651 27.0822 82.6518C72.9404 13.6527 171.998 -10.7424 295.323 5.82472C418.611 22.3868 565.974 79.8733 708.17 174.38C850.366 268.886 960.432 382.491 1023.44 489.747C1086.47 597.035 1102.34 697.811 1056.48 766.81Z"
        );
        // offset-distance: 50%;
        animation: anim 14s linear infinite;
        animation-delay: 0.4s;
        left: -2px;
        bottom: -22px;
        border-radius: 50%;
        border: 2px solid #313131;
      }
      position: relative;
      transform: translate(-100px, -100px);

      .circle {
        opacity: 0.25;
      }
      .dot {
        animation: anim 14s linear infinite;
        // offset-distance: 50%;
        animation-delay: 0.4s;
        left: 20px;
      }
    }
    .circle {
      width: 1086px;
      height: 1186px;
      background-image: url("/assets/Circle1.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -160px;
      left: 0;
    }

    .dot {
      transform: translate(40px, -10px);
      background: linear-gradient(
        88.92deg,
        rgba(55, 42, 69, 0.252) -5.13%,
        rgba(84, 64, 68, 0.081) 107.89%
      );
      backdrop-filter: blur(7px);
      border-radius: 18px;
      position: absolute;
      offset-path: path(
        "M1056.48 766.81C1010.62 835.81 911.565 860.205 788.24 843.638C664.952 827.076 517.59 769.589 375.393 675.083C233.197 580.576 123.132 466.971 60.1208 359.715C-2.90932 252.427 -18.7759 151.651 27.0822 82.6518C72.9404 13.6527 171.998 -10.7424 295.323 5.82472C418.611 22.3868 565.974 79.8733 708.17 174.38C850.366 268.886 960.432 382.491 1023.44 489.747C1086.47 597.035 1102.34 697.811 1056.48 766.81Z"
      );
      offset-distance: 201%;
      top: 0;
      left: 0;
      // animation: anim 10s linear infinite;
      padding: 12px 22px;
      offset-rotate: 0deg;
      offset-anchor: left bottom;
      z-index: 15;

      @media (max-width: 500px) {
        display: none;
      }

      p {
        font-family: "SFProText";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        /* or 23px */
        margin: 0;
        white-space: nowrap;

        letter-spacing: 0.02em;

        background: linear-gradient(90deg, #352845 -2.33%, #554144 103.25%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }

  .saturn {
    width: 480px;
    height: 480px;
    background-image: url("/assets/saturnPlanet.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -300px;
    left: -60px;
  }

  @keyframes anim {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
}
