@import "../../styles/Constants.module.scss";

.langSwitch {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 34px;

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    .arrow {
      min-width: 12px;
      height: 12px;
      background-image: url("/assets/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: 0.1s all ease-in-out;
      opacity: 0.4;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: $primary-color-60;
      margin: 0;
      user-select: none;
      padding: 0;
    }
  }

  .langList {
    background: rgba(38, 38, 38, 0.85);
    border-radius: 4px;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 25px;
    left: -8px;
    height: auto;
    overflow: hidden;
    transition: 0.1s all ease-in-out;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    backdrop-filter: blur(12px);

    a {
      text-decoration: none;
      color: $primary-color-40;
    }

    .activeLink {
      text-decoration: none;
      color: $primary-color-60;
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
    }
  }
}
